## Bakery Cart Optimization using Association Rule

In [3]:
import numpy as np
import pandas as pd
from apyori import apriori

### Load Data

In [8]:
df = pd.read_csv('Bakery.csv')
df.head()

   TransactionNo          Items             DateTime  Daypart  DayType
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

### Removing Columns

In [10]:
df.drop(['DateTime','Daypart','DayType'],inplace=True,axis=1)

In [11]:
df

       TransactionNo          Items
0                  1          Bread
1                  2   Scandinavian
2                  2   Scandinavian
3                  3  Hot chocolate
4                  3            Jam
...              ...            ...
20502           9682         Coffee
20503           9682            Tea
20504           9683         Coffee
20505           9683         Pastry
20506           9684      Smoothies

[20507 rows x 2 columns]

### Formating Data to list

In [43]:
tranx = []
for t in df['TransactionNo'].unique():
    items=df[df['TransactionNo']==t]['Items'].values
    tranx.append(list(items))

In [45]:
tranx[10:15]

[['Bread', 'Medialuna', 'Bread'],
 ['Jam', 'Coffee', 'Tartine', 'Pastry', 'Tea'],
 ['Basket', 'Bread', 'Coffee'],
 ['Bread', 'Medialuna', 'Pastry'],
 ['Mineral water', 'Scandinavian']]

### Assosiation with apriori algorithm

In [77]:
# support of 0.003 means an item is purchased at least 3-4 times
rules = apriori(tranx, min_support=0.003, min_condifence=0.2, min_lift=3, min_length=2)
for x in rules:
    print(x.items)

frozenset({'Coke', 'Sandwich'})
frozenset({'Mineral water', 'Sandwich'})
frozenset({'Cookies', 'Juice', 'Coffee'})
frozenset({'Soup', 'Sandwich', 'Coffee'})

* Given combination of Items can considered as a suggestion for customer